<a href="https://colab.research.google.com/github/cintiapinho/PA-Prog_e_Algorit-1C_1F_2025/blob/main/variaveiseoperadoresaritmeticos1f/variaveisecontantes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Variáveis e Constantes

In [9]:
idade = 43
altura = 1.52
nome = "Cíntia Pinho"
vai = True

In [2]:
nome

'Cíntia Pinho'

In [3]:
nome="Tereza"

In [4]:
print(nome)

Tereza

In [5]:
nomes = ["Cíntia Pinho","Tereza","Alberto","Roberto"]
nomes2 = ("Juliana","Juliana","Sérgio","Carmelinda")
tudo = {nome:"Cíntia Pinho",idade: 42, altura:1.52}

In [6]:
print(nome)
print(nomes)
print(nomes2)
print(tudo)

Tereza
['Cíntia Pinho', 'Tereza', 'Alberto', 'Roberto']
('Juliana', 'Juliana', 'Sérgio', 'Carmelinda')
{'Tereza': 'Cíntia Pinho', 43: 42, 1.52: 1.52}

In [7]:
print(type(idade))
print(type(altura))
print(type(vai))
print(type(nome))
print(type(nomes))
print(type(nomes2))
print(type(tudo))

<class 'int'>
<class 'float'>
<class 'bool'>
<class 'str'>
<class 'list'>
<class 'tuple'>
<class 'dict'>

In [8]:
set(nomes2)

{'Carmelinda', 'Juliana', 'Sérgio'}

In [10]:
print("O nome dela é:", nome, ", sua idade é:", idade, ", ela tem", altura," metros de altura" )

O nome dela é: Cíntia Pinho , sua idade é: 43 , ela tem 1.52  metros de altura

In [ ]:
print(f"O nome dela é : {nome}. A Altura dela é:{altura}")

O nome dela é : Tereza. A Altura dela é:1.52

# Área do Círculo

In [11]:
#entrada
raio = float(input("Digite o valor do raio do círculo: "))

Digite o valor do raio do círculo: 100

In [12]:
#processamento
areacir = 3.14159 * (raio**2)

In [13]:
#saida
print(f"A área do círculo é {areacir}")

A área do círculo é 31415.899999999998

Área do quadrado

In [29]:
#entrada
lado = float(input("Qual o lado do quadrado?"))

Qual o lado do quadrado?5.24

In [30]:
#processamento
areaqua= lado**2

In [32]:
#saida
print(f"A área do Quadrado é: {areaqua:.2f}")

A área do Quadrado é: 27.46

# Exercícios

## Exercício 1 - Área do Retângulo

Crie um programa que calcule a área de um retângulo usando uma constante para representar a base.

 Fórmula: A = base × altura